@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.drag-active {
  background-color: #f0f8ff;
  transition: background-color 0.3s ease;
}